.body {
    font-family: "Roboto", sans-serif;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

#lis-camera{
    display: flex;
    justify-content: center;
    align-items: center;
}


.titlebox {
    text-decoration: none;
    text-align: center;
    margin-bottom: 0px;
    background-color: #12b9c5be;
}
  
.title { 
    width: 100%;
    text-decoration: none;
    color: black;
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

.camera_contentbox {
    padding: 1rem;
    max-width: 333px;
}

.camera_content{
    padding: 3rem;
    border-radius: 15px;
    background-color:#12b9c5be;
    box-shadow: inset 0 5px 6px -4px lightgrey;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    min-height: 158px;
}

.camera_link {
    color: black;
    
}

.camera_text {
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.camera_Price {
 font-weight: bold;
}

@media all and (min-width: 300px) {

    #list-camera{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}